html {
    scroll-behavior: smooth;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 140, 0);
    color: white;
    overflow-x: hidden;
    margin: 0;
    overflow-y: visible;


}

*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.04);
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo img {
    height: 50px;
}
nav .menu {
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin:0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585858;
    letter-spacing: 1px;

}
nav .menu li a:hover {
    background-color: #242424;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
    transition: all ease 0.2s;
}
#main{
    padding-top: 80px;
    background-color: #f0ad4e;
}
.showcase-box{
    width: 182px;
    height: 268px;
    box-shadow:  5px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
}
.showcase-box img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top;
}
.showcase-heading{
    padding-left: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size:1.2rem;
    color: #1a1a1a;
}
#latest{
    padding-top: 80px;
    background-color: #ffffff;
}
.latest-box{
    width: 182px;
    height: 268px;
    box-shadow:  5px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
}
.latest-box img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top;
}
.latest-heading{
    padding-left: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size:1.2rem;
    color: #1a1a1a;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.5vw;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(214, 214, 214);
}

header {

    position: absolute;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#000000c2, transparent);
    height: 6vw;
}

header:hover {

    background-image: linear-gradient(#000000cc, #0000001e);
}


header h1 a{
    margin-left: 25px;
    font-size: 3vw;
    color: white;
    text-decoration: none;
}

div.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    filter: none;
}

#sliders {
    margin: 30px;
}

#sliders h3 {
    font-size: 30px;
    margin-bottom: 2px;
}

div.slider1 {
    width: 100%;
    overflow: visible;
    transition: 1s;
    text-indent: 0;
    white-space: nowrap;
    position: relative;
    display: flex;
      -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
    align-items: center;
    justify-content:space-between;

}

div.slider2 {
    width: 100%;
    overflow: visible;
    transition: 1s;
    text-indent: 0;
    white-space: nowrap;
    position: relative;
    display: flex;
      -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
    align-items: center;
    justify-content:space-between;

}
div.slider3 {
    width: 100%;
    overflow: visible;
    transition: 1s;
    text-indent: 0;
    white-space: nowrap;
    position: relative;
    display: flex;
      -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
    align-items: center;
    justify-content:space-between;

}
div.slider4 {
    width: 100%;
    overflow: visible;
    transition: 1s;
    text-indent: 0;
    white-space: nowrap;
    position: relative;
    display: flex;
      -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
    align-items: center;
    justify-content:space-between;

}
.nwitem {
    width:100% !important;
}

h2 {
    font-size: 1.8vw;
}


div.movie_item {
    width: 21.8%;
    padding: 0;
    display: inline-block;
    margin-right: 1%;
    cursor: pointer;
}


div.movie_item img {
    margin: 5px;
    border-radius: 10px;
    transition: all 200ms ease-in;
}


.arrow {
    font-size: 8vw;
    cursor: pointer;
    width: 5%;
    height: 68%;
    text-align: center;
    text-indent: 0;
    vertical-align: middle;
    position: absolute;
    z-index: 2;
    line-height: 11vw;
    user-select: none;

}

.arrow:hover {
    color: rgb(255, 255, 255);
    transition: 200ms;

}

.arrow.left {
    visibility: hidden;
    left: 0;
    padding-top: 10%;
}

.arrow.left p, .arrow.right p {
    margin: 0;
    line-height: 200px;
}

.arrow.right {
    visibility: visible;
    right: 0;
    padding-top: 10%;
}


/* Zoom hover */
div.movie_item img:hover {
    box-shadow: 0 0 150px 0 rgb(0, 0, 0);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

/* Best Movie */

div#best-movie {
    background-color:#880000;
    background-size: cover;
    padding: 6vw 13vw 9vw 13vw;
    height: 34vw;
}

#best-button {
    padding:0.3em 1.2em;
    border:0.16em solid rgba(255, 255, 255, 0.562);
    border-radius:2em;
    text-decoration:none;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.349);
    cursor: pointer;
}

#best-button:hover {
    border-color: rgba(255, 252, 252, 0.39);
}

#best-movie h2 {
    font-size: 2.5vw;
    padding-top: 12%;
}

#best-movie p{
    font-size: 1.3vw;
    width: 50vw;
    margin-top: 55px;
}

#best-movie img {
    float: right;
    border-radius: 5%;
}

.arrow.down {
    color: white;
    text-decoration:none;
    background-color: rgba(255, 255, 255, 0);
    transform: rotate(-90deg);
    height: auto;
    margin-top: -12%;
    margin-left: 46%;
}
.arrow.down:hover {
    color: rgb(201, 201, 201);
}

/* Fenetre modale */


.modal {
    display: none;
    position: fixed;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,140,0, 0.247);
    z-index: 3;
  }
  .modal-box {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 10px;
    width: 70%;
    height: 42vw;
    border-radius: 15px;
    animation-name: animatebox;
    animation-duration: 0.4s;
  }

  @keyframes animatebox {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  @media screen and (max-width: 600px) {
    .modal-box {
      width: 90%;
    }
  }
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
  }

  .close:hover,
  .close:focus {
    color: rgb(196, 196, 196);
    text-decoration: none;
    cursor: pointer;
  }


  .modal-body {
    padding: 40px;
    font-size: 1.15vw;
  }

  .modal-body img {
    height: 36.5vw;
    float: right;
    border-radius: 15px;
  }

  .modal-body #imdb {
      color: orangered;
      font-weight: bold;
  }

  .modal-body #date {
    color: white;
    font-weight: bold;
}

.modal-body #desc {
    padding-right: 50%;
}

.modal-body #secondary {
    font-size: 0.9vw;
    padding-top: 1%;
    color: #cecccc;
    padding-right: 50%;

}

.modal-body #secondary .s-cont{
    color: #a3a2a2;

}


/* Loading page */

#loading {
    display: inline;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    text-align: center;
}

#loading img{
margin-top: 18%;
}

.slider {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  margin: auto;
  overflow: hidden;
}



.slide {
  text-align: center;

}

.slide.active {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.slide.active~.slide {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.button {
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #880000;
}

.button:hover {
  background-color: #880000;
  color: white;
}
